html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.border {
  text-align: center;
  border: solid 1px black;
  padding: 10px;
  width: 20%;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-list {
  display: flex;
  justify-content: space-between;
}

.item-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 1px solid rgb(212, 206, 206);
  padding: 10px 0;
  list-style: none;
}

.item-list label {
  font-size: 14px;
}

.label {
  padding: 5px;
  font-size: 15px;
  width: 100%;
}

.item-list input {
  margin-right: 10px;
}

.add {
  margin: 10px 0;
  width: 100%;
  border: none;
  padding: 5px;
}

.btn-clear {
  margin: 10px 0;
  border: none;
  font-weight: 700;
  background-color: rgb(240, 238, 238);
  width: 100%;
  padding: 10px;
}

.btn-clear:hover,
.update-icon {
  cursor: pointer;
}

.icon:hover {
  cursor: crosshair;
}

.trash-icon:hover {
  cursor: pointer;
}

.item-list.activated {
  background-color: brown;
}

.d-none {
  display: none;
}

.enter {
  display: flex;
  align-items: center;
}

.enter:hover {
  cursor: pointer;
}
