html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10 px */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  background: linear-gradient(to bottom, brown, #19191a);
  transition: all 0.4s ease-out;
}

.container {
  max-width: 90%;
  width: 90rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 80%) 0 8px 18px;
}

.add-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 2rem;
  width: 100%;
  background-color: brown;
}

.enter {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.add {
  width: 80%;
  border: none;
}

.list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 2rem;
}

.item-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-list:nth-of-type(2n) {
  background-color: rgba(95, 3, 3, 0.1);
}

.label {
  width: 20rem;
  font-family: "Gill Sans", sans-serif;
  font-size: 1.5rem;
  padding: 0.8rem;
}

.btn-clear {
  border: none;
  width: 100%;
  padding: 1rem 0;
  margin-top: 3rem;
}

.btn-clear:hover,
.btn-enter:hover {
  cursor: pointer;
  background-color: cadetblue;
}

.d-none {
  display: none;
}
